[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-mathfilters = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-import-export = "*"

[requires]
python_version = "3.8"

[packages.tablib]
extras = [ "xlsx",]
version = "*"
