<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>DRS</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
        <img class="h3 mb-3" src="{% static 'img/rwanda_logo.png' %}" alt="" width="250">
      <h1 class="h3 mb-3 font-weight-normal">Rwamagana Human Security Issues Reporting System</h1>
      <a class="btn btn-lg btn-success btn-block" href="{% url 'login' %}">Log In</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
    </form>
  </body>
</html>