{% extends '_base.html' %}
{% block content %}

<div class="container">
{% with url_name=request.resolver_match.url_name  %}

{% if url_name == 'kpi_charts' %}
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>

{# -------------------- Scripts for district and superlevel charts --------------------------------#}
{# -------------------------------------------------------------------------------#}
    <script>
    Highcharts.chart('container',{

        chart: {
            type: 'column'
        },
        title: {
            text: [{{ kpiname }}]
        },
        xAxis: {
            categories: [
            {% for item in dataset %}' {{item.sector__name}}'{% if not forloop.last%},{%endif%}{% endfor %}
            ]
        },
        series: [{
            name: 'Ibyakozwe',

            data: [
            {%for item in dataset %}{{item.achiev}}{%if not forloop.last %},{% endif %}{%endfor%}
            ],
            color: 'green'
        }, {
            name: 'Intego' ,
            data: [
            {% for item in dataset %}{{ item.targ}}{% if not forloop.last%},{%endif%}{%endfor%}
            ],
            color: 'red'
        }]
    });
</script>

 <div class="container">
            <table class="table table-bordered mt-5 table-colored table-primary table-hover">
              <thead class="table-warning">
                <tr>
                  <th>IMIRIRE MIBI</th>
                  <th>ABARARANA N'AMATUNGO</th>
                  <th>INGO ZIFITE AMAZU AMEZE NKA NYAKATSI</th>
                  <th>ABAFITE UBWIHERERO BUTUJUJE IBISABWA</th>
                  <th>ABANGAVU BATEWE INDA</th>
                  <th>INGO ZIDAFITE UBWIHERERO N'AMBA</th>
                  <th>ABARWAYE AMAVUNJA</th>
                </tr>
              </thead>
              <tbody>
                {% for i in ibyakozwe %}
                    <tr>
                      <td class="align-middle ">{{ i.name }} </td>
                      <td class="align-middle">{{ i.number_of_member }}</td>
                      <td class="align-middle">{{ i.irangamuntu }} </td>
                      <td class="align-middle">{{ i.sector }} </td>
                      <td class="align-middle">{{ i.cell }} </td>
                      <td class="align-middle">{{ i.village }} </td>
                      <td class="align-middle"><div class="text-center"><a href="{{i.image.url}}" target="_blank"><img style="width: 30px; height: 30px" src="{{ i.image.url }}"></a> </div> </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td class="text-center font-italic" colspan="7">No Information Provided Yet</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table><br>
         </div>


{# -------------------- Scripts for sector charts --------------------------------#}
{# -------------------------------------------------------------------------------#}

{% elif url_name == 'sector_charts' %}

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container',{

        chart: {
            type: 'bar'
        },
        title: {
            text: [{{ kpiname }}]
        },
        xAxis: {
            categories: [
            {% for item in dataset %}' {{item.kpi__name}}'{% if not forloop.last%},{%endif%}{% endfor %}
            ]
        },
        series: [{
            name: 'Ibyakozwe',

            data: [
            {%for item in dataset %}{{item.achiev}}{%if not forloop.last %},{% endif %}{%endfor%}
            ],
            color: 'green'
        }, {
            name: 'Intego' ,
            data: [
            {% for item in dataset %}{{ item.targ}}{% if not forloop.last%},{%endif%}{%endfor%}
            ],
            color: 'red'
        }]
    });
    {{ kpiname }}
</script>



{%endif%}
{%endwith%}
</div>
{% endblock content %}
</div>